.breadcrumb {
  background-color: transparent !important;
  color: black !important;
}
.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #000;
  content: "/";
}

.breadcrumb-item {
  color: black !important;
}
.active {
  color: white !important;
}

.swiper-pagination-bullet-active {
  opacity:1;
  background:#ffffff;
  }

ol > li > a {color: black}